body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.fixed {
    position: fixed;
    top: 50px;
    z-index: 10;
}

.below {
    position:absolute;
    top : 206px;
}


.song-selector:hover {
    background: #AAD;

}

.song-selector:hover a{
    text-decoration: none;
    color: white;
}